{
    "extends": "eslint:recommended",
    "rules": {
        "indent": ["warn", 4],
        "no-else-return": "warn",
        "semi": ["warn", "always"],
        "space-unary-ops": "error",
        "eqeqeq": ["error", "always"],
        "no-cond-assign": "error"
    },
    "env": {
        "browser": true
    },
    "globals" : {
        "Phaser": false,
        "gameController": false
    }
}
